<%= form_for(@employee) do |f| %>
  <% if @employee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@employee.errors.count, "error") %> prohibited this employee from being saved:</h2>

      <ul>
      <% @employee.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :staffno %><br>
    <%= f.text_field :staffno %>
  </div>
  <div class="field">
    <%= f.label :start_work_date %><br>
    <%= f.datetime_select :start_work_date %>
  </div>
  <div class="field">
    <%= f.label :hiredate %><br>
    <%= f.datetime_select :hiredate %>
  </div>
  <div class="field">
    <%= f.label :statutory %><br>
    <%= f.number_field :statutory %>
  </div>
  <div class="field">
    <%= f.label :extra %><br>
    <%= f.number_field :extra %>
  </div>
  <div class="field">
    <%= f.label :bonus %><br>
    <%= f.number_field :bonus %>
  </div>
  <div class="field">
    <%= f.label :used %><br>
    <%= f.number_field :used %>
  </div>
  <div class="field">
    <%= f.label :remain %><br>
    <%= f.number_field :remain %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
