<p id="notice"><%= notice %></p>

<p>
  <strong>When:</strong>
  <%= @used_annual_leave_info.when %>
</p>

<p>
  <strong>Number:</strong>
  <%= @used_annual_leave_info.number %>
</p>

<p>
  <strong>Whichyear:</strong>
  <%= @used_annual_leave_info.whichyear %>
</p>

<p>
  <strong>Employee:</strong>
  <%= @used_annual_leave_info.employee_id %>
</p>

<%= link_to 'Edit', edit_used_annual_leave_info_path(@used_annual_leave_info) %> |
<%= link_to 'Back', used_annual_leave_infos_path %>
