<h1>联系人导入</h1>

<p>导入文件格式为excel表格，表格第一行为表头，表格格式如下(括号及括号中内容为说明)：</p>

<table class="table table-bordered">
    <thead>
    <tr>
        <th><%= Employee::COLUMN_NAME %>(姓名)</th>
        <th><%= Employee::COLUMN_STAFFNO %>(员工号)</th>
        <th><%= Employee::COLUMN_SENIORITY %>(工龄)</th>
        <th><%= Employee::COLUMN_HIREDATE %>(入职日期)</th>
        <th><%= Employee::COLUMN_LAST_YEAR_LEFT %>(去年剩余年假)</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>路人甲</td>
        <td>10010123</td>
        <td>8</td>
        <td>20130101</td>
        <td>2.5</td>
    </tr>
    </tbody>
</table>


<%= form_for @employee_import, url: employees_manage_path do |f| %>
    <% if @employee_import.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(@employee_import.errors.count, "error") %> prohibited this import from completing:</h2>
            <ul>
                <% @employee_import.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <div class="field">
        <%= f.file_field :file %>
    </div>
    <div class="buttons"><%= f.submit "导入" %></div>
<% end %>