<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
          xmlns:o="urn:schemas-microsoft-com:office:office"
          xmlns:x="urn:schemas-microsoft-com:office:excel"
          xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
          xmlns:html="http://www.w3.org/TR/REC-html40">
    <Worksheet ss:Name="休假记录">
        <Table>
            <Row>
                <Cell><Data ss:Type="String">姓名</Data></Cell>
                <Cell><Data ss:Type="String">员工号</Data></Cell>
                <Cell><Data ss:Type="String">日期</Data></Cell>
                <Cell><Data ss:Type="String">天数</Data></Cell>
                <Cell><Data ss:Type="String">使用哪年年假</Data></Cell>
            </Row>
            <% @records.each do |record| %>
                <% employee = record.employee %>
                <Row>
                    <Cell><Data ss:Type="String"><%= employee.name %></Data></Cell>
                    <Cell><Data ss:Type="String"><%= employee.staffno %></Data></Cell>
                    <Cell><Data ss:Type="String"><%= record.when.strftime("%Y-%m-%d") %></Data></Cell>
                    <Cell><Data ss:Type="Number"><%= record.number %></Data></Cell>
                    <Cell><Data ss:Type="Number"><%= record.which_year %></Data></Cell>
                </Row>
            <% end %>
        </Table>
    </Worksheet>
</Workbook>
